<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 考虑IE的兼容性 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 移动设备优先，user-scalable=no设置禁止缩放 -->

    <title>首页 | COFFEE</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/general.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.bxslider.css">

    <script src="js/jquery-1.8.1.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="css/presumi.css">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-static">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- 响应式导航条 导航条触发器.navbar-toggle 导航条折叠菜单.navbar-collapse data-toggle=collapse关联bs的js插件，实现折叠菜单
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> --> 
        <a href="index.htm" class="navbar-brand"><img src="imgs/logo.jpg" style="width:20px;height:20px"></a>
      </div>

      <div id="bs-example-navbar-collapse-1">
        <!-- .navbar-nav类依赖 .nav基类，实现水平列表 左侧-->
        <ul class="nav navbar-nav navbar-left hidden-xs">
          <li class="active"><a href="http://localhost:3000/index">首页</a></li>
          <!-- 下拉菜单 role=presentation 将下拉菜单触发器和下拉菜单都包裹在.dropdown中, role=button 下拉菜单触发器.dropdown-toggle( data-toggle=dropdown aria-haspopup=true aria-expanded=false),下拉菜单.dropdown=menu, -->
          <li><a href="http://localhost:3000/coffee">咖啡经典</a></li>
          <li><a href="http://localhost:3000/beverage">饮品美食</a></li>
          <li><a href="http://localhost:3000/picture">记忆照片</a></li>
          <li><a href="http://localhost:3000/bbs">客户留言</a></li>
          <!--<li role="presentation" class="dropdown">
            <a href="beverage.htm" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            饮品美食<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                    <li><a href="beverage.htm">饮品</a></li>
                    <li><a href="food.htm">美食</a></li>
            </ul>
          </li>-->
          <li><a href="http://localhost:3000/more">更多</a></li>
          
        </ul>
        <!--水平列表右侧navbar-right-->
       <!--  <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#myModal" id="loginBar">登录/注册</a><span id="loginName"></span></li>
        </ul> -->
      </div> <!-- navbar-collapse -->
    </div> <!-- container -->
  </nav>
  

 



