<% include menu_sidebar.ejs %>

        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content">
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>index</small></div>
                </div>

                <hr>

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-sm-centered">
                        <h2>欢迎您！<span><%= name %></span></h2>
                        <p>本毕业设计使用node+express+mysql架构，界面使用了Amazon ui框架，基本上完成了所有的需求任务。</p>
                        <p>感谢有你！</p>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
        <!-- content end -->

<% include menu_sidebar_end.ejs %>
