<% include header.ejs %>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-push-3 text-center">
					<h3>门店列表</h3>
					<p>—————————————————</p>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<table>
					<tr class="thead">
						<th>门店名称</th>
						<th>门店地址</th>
						<th>门店电话</th>
					</tr>
					<tr>
						<td>国奥村</td>
						<td>北京市朝阳区林翠东路2号院甲3号楼一层F106区域</td>
						<td>8437 7378</td>
					</tr>
					<tr>
						<td>腾达大厦</td>
						<td>北京市海淀区西直门外大街168号腾达大厦2层210号</td>
						<td>8857 7710</td>
					</tr>
					<tr>
						<td>东方东路外交公寓</td>
						<td>北京市朝阳区东方东路19号外交公寓A座会所2号商铺</td>
						<td>8532 2238</td>
					</tr>
					<tr>
						<td>SM广场</td>
						<td>中国四川省成都市成华区建设南路20号</td>
						<td>028-61297260</td>
					</tr>
					<tr>
						<td>万象城</td>
						<td>中国成都市成华区二环路东三段万象城B1层156号</td>
						<td>028-61390740</td>
					</tr>
					<tr>
						<td>华润翡翠天地</td>
						<td>中国四川省成都市锦江区琉璃路656号1层</td>
						<td>028-68963313</td>
					</tr>
					<tr>
						<td>高新欧尚</td>
						<td>中国四川省成都市高新区站华路9 号附1、2 号</td>
						<td>028-66322960</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="divider-whitespace"></div>
	
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<p>© 2016 Starbucks Corporation.
						<br>
						All rights reserved. 沪ICP备09020061号
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>